.appBar {
  margin-bottom: 1.5rem;
  height: 70px !important;
  font-size: 14px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
  background: linear-gradient(to right, #0083dd, #377bd8, #4f72d2, #6269ca, #7160c1);
}

.appBar button {
  color: #fff!important;
}

.link {
  text-decoration: none;
  margin: 0!important;
  padding: 0!important;
}

.appBar h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  width: 200px;
  height: 100%;
  background-image: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.userPhoto {
  position: absolute;
  right: 20px;
  bottom: 20%;
}

.usernameInfo, .nicknameInfo {
  position: absolute;
  right: 75px;
}

.usernameInfo {
  bottom: 50%;
}

.nicknameInfo {
  bottom: 32%;
  font-weight: normal;
}

.neutral:not([disabled]).flat,
.neutral:not([disabled]).toggle {
  color: #fff;
}
